.header-title {
  // background-color: #f7f9fa;
  // background-color: red;
  background-color: whitesmoke;

  position: relative;
  z-index: -20;
  padding-top: 50px;
  // height: 80px;
  & h2 {
    padding: 20px 20px;
  }
  & .flex {
    margin-left: 5px;

    // flex-direction: column;

    & .tab-items {
      padding: 10px 15px;

      &:hover {
        border-bottom: solid 2px greenyellow;
      }
    }
  }
}
