@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

$font-primary: "Roboto", sans-serif;
$font-100: 100;
$font-300: 300;
$font-400: 400;
$font-500: 500;
$font-700: 700;

body {
  font-family: $font-primary;
}
